@import "link href=https://fonts.googleapis.com/css2?family=Roboto&display=swap";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background: #1b1818;
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 30px;

    background: #5a1bad;
}
header div{
    text-align: center;
}
header div a {
    color: white;
    line-height: 30px;

    margin: 0 30px;

    text-decoration: none;
}
header div a:hover{
    color: #161212;
    transition: color 500ms;
}