@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap";
            
*{
    margin: 0;
    padding: 0;
    border: 0;
 }
           
body {
    background: #282a36;
    font-family: 'Roboto Mono', monospace;
}
header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}
header div {
    text-align: center;
}
header div a {
    color: white;

    font-size: 18px;
    line-height: 28px;

    margin: 0 16px;

    text-decoration: none;
}
header div a:hover{
    color: teal;
    transition: color 700ms;
}
