@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap";

:root{
    --color-purple: #460a96;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
 }
           
body {

    background: #282a36;
    font-family: 'Quicksand', sans-serif;
    color: white;

}
header{

    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);

}
.links {
    text-align: center;
}
.links a {

    color: white;

    font-size: 18px;
    line-height: 28px;

    margin: 0 16px;

    text-decoration: none;

}
.links a:hover{

    color: var(--color-purple);
    transition: color 700ms;

}
#wrapper{

    text-align: center;

    padding: 32px;

}
#wrapper img{

    height: 300px;

    border-radius: 50%;
    border: 5px solid var(--color-purple);
    margin-bottom: 32px;

}
#wrapper h1{
    
    font-size: 32px;
    line-height: 42px;
    font-weight: bolder;

}
#wrapper h2{
    margin-top: 10px;

    font-style: 8px;
    line-height: 18px;

    font-weight: lighter;
    opacity: 0.8;

}
#wrapper p{
   
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
    
}
#links-footer a{
    
    border-bottom: 1px solid var(--color-purple);

}