{% extends "layout.njk" %}

{% block head %}
    <title>Sobre a {{about.title}}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div id="image">
        <img src="/assets/logo.jpg" alt="Logo Rocketseat">
    </div>
    <div class="description">
        <h1>{{about.title}}</h1>
        <p>{{about.description}}</p>
    </div>
    <div class="list-skills">
        Tecnologias:
        <ul>
            {% for skill in about.skills %}

            <li id = "clear-skills"><a href="{{skill.url}}">{{skill.name}}</a></li>

            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}