{% extends "layout.njk" %}

{% block head %}
    <title>{{item.title}}</title>
{% endblock %}

{% block content %}
<section class = "style-course">
<div class="cards">
    <div class="card" id="{{item.id}}">

        <iframe src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>

        <p id="color-{{item.id}}">{{item.aboutStrong}}</p>
        <p>{{item.aboutSimple}}</p>
        <div class="info">
            <p>{{item.modules}}</p>
            <p id="color-tip">{{item.price}}</p>
        </div>
    </div>
</div>
</section>

{% endblock %}
