{% extends 'layout.njk' %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="avatar" >
            <img src="https://image.flaticon.com/icons/svg/609/609001.svg" alt="">
        </section>
        <section class="details">
            <h3>Novo Professor</h3>
        {% include 'teachers/fields.njk'%}
        </section>
</form>
{% endblock content %}