{% extends "layout.njk" %}

{% block content %}
  <div class="card">
            <section class = "avatar">
                <img src="{{teacher.avatar_url}}" alt="">
            </section>
            <section class ="details">
                <h3>Professor(a)</h3>
                <div class="item">
                    <div>Nome Completo:</div>
                    <div>{{teacher.name}}</div>
                </div>
                <div class="item">
                    <div>Idade:</div>
                    <div>{{teacher.age}}</div>
                </div>
                <div class="item">
                    <div>Grau de Escolaridade:</div>
                    <div>{{teacher.education_level}}</div>
                </div>
                <div class="item">
                    <div>Tipo de Aula</div>
                    <div>{{"À Distância" if teacher.class_type == "D" else "Presencial"}}</div>
                </div>
                <div class="item">
                    <div>Acompanhamento:</div>
                    <div>
                        {% for service in teacher.subjects_taught %}
                            <span>{{service}}</span>
                        {% endfor %}  
                    </div>
                </div>
                <div class="item">
                    <div>Desde:</div>
                    <div>{{teacher.created_at}}</div>
                </div>

                <a href="/teachers/{{teacher.id}}/edit" class = 'button'>Editar</a>
            </section>
        </div>
{% endblock content %}