@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300;1,400&display=swap";

:root {
    --hunter-color: #3D604C;
    --color-camel: #AB8B68;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: var(--color-camel);
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: var(--hunter-color);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}
.links {
    font-size: 22px;
}
.links a + a{
  margin-left: 32px;
}
.links a.active {
    font-weight: bold;
    color: rgb(228, 227, 227);
}
.links a{
    color: white;
    text-decoration: none;
    position: relative;
}
.links a:hover{
    font-weight: bold;
    color: white;
}
.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.links a:hover::after{
    width: 100%;
    transition: width 250ms ease-in-out;
}
/* ====== card ===== */
.card{
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
     
    animation: up 500ms ease-in;
}
@keyframes up{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
    }
}

.details{
    padding: 20px;
}
.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px 0;
}

.details .item:last-child{
    border:none;
}
.details h3,
.details .item div:nth-child(1){
    color: rgb(150, 146, 146);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
}
.details .item div:nth-child(2){
    color: rgb(97, 97, 97);
    font-weight: bold;
    font-size: 18px;
}
.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--hunter-color);
    font-size: 18px;
}
.details .item span{
    padding: 8px 16px;
    background-color: var(--hunter-color);
    border-radius: 15px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* ========== FORM ========== */

input{
    width: 100%;
    outline: none;
    color: rgb(97, 97, 97);
    font-weight: bold;
    font-size: 18px;
}
input[type = "radio"]{
    width: initial;
    margin-right: 4px;
}
input::placeholder{
    font-size: 16px;
    font-weight: normal;
}
a.button,
button[type="submit"]{
    padding: 8px 32px;
    background-color: var(--hunter-color);
    color: white;
    border-radius: 4px;
    margin-top: 16px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
a.button{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"]{
    margin-top: 8px;
    background-color: #AE2C3F;
}

/* INDEX */

.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;
}
.table-container table{
    border-spacing: 0;
}
.table-container thead tr th:nth-child(3){
    text-align: center;
}
.table-container thead tr th{
    text-align: left;
}
td, th{
    padding: 16px;
    border-bottom: 0.5px solid var(--color-camel);
}
th{
    text-transform: uppercase;
    color: var(--hunter-color);
    font-size: 14px;
}
tbody tr:last-child td{
    border-bottom: none;
}
tbody tr td:first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid var(--color-camel);
    margin-right: 10px;
}
#grade{
    text-align: center;
}
#grade span{
    padding: 8px 16px;
    background-color: var(--hunter-color);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
tbody tr td:last-child a,
.table-container > a{
    background-color: var(--hunter-color);
    padding: 8px 16px;
    text-decoration: none;
    text-decoration: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}
.table-container > a{
    margin-bottom: 16px;
    display: inline-block;
}
.table-container thead tr th:last-child,
td:last-child{
    text-align: center;
}
td:nth-child(2) span{
    padding: 8px 16px;
    background-color: var(--hunter-color);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* edit */
.avatar{
    background: var(--hunter-color);
}
.avatar img{
    width: 100%;
    padding-top: 150px;
}
