{% extends "layout.njk" %}

{% block content %}
    <section>
        <div class="about-us">
            <h1>Sobre o Foodfy</h1>
            <p>
                Integer tincidunt venenatis dapibus. Sed sollicitudin enim nec accumsan faucibus. Phasellus vel ultricies erat. In hac habitasse platea dictumst. Maecenas interdum, velit in blandit venenatis, felis dui placerat odio, rutrum dictum nisl quam et diam. Nunc non nisi nec lacus facilisis vulputate id vel augue. Aenean posuere lacinia elit, quis imperdiet augue dapibus in. Donec in ante ut mauris aliquam consectetur.
            </p>
            <p>
                Pellentesque consequat bibendum ultrices. Aenean condimentum tellus non faucibus malesuada. Suspendisse et turpis sit amet ligula finibus ullamcorper a vel leo. Donec eleifend a lacus non fringilla. Donec semper cursus turpis. Donec ut mi eu est imperdiet auctor. Quisque sagittis libero a turpis consectetur, a luctus urna feugiat. In neque ex, eleifend vitae ultricies sit amet, posuere sed odio. Suspendisse faucibus suscipit dolor congue ultricies. Donec eu convallis ex, porttitor fermentum est. Suspendisse potenti. Nullam sed purus urna. Fusce in lacus commodo, fringilla purus eu, tincidunt justo.
            </p>

            <h2>Como tudo começou...</h2>
            <p>
                Nam nec risus vel ante elementum ornare in accumsan arcu. Nunc hendrerit, dui a suscipit gravida, tellus nisl egestas nibh, vel imperdiet mi velit vitae metus. Nulla facilisi. Quisque auctor erat porttitor ligula tincidunt bibendum. Vivamus interdum egestas dolor, in placerat augue suscipit in. In ultricies erat arcu, in laoreet massa hendrerit iaculis. Donec quis lacus suscipit, scelerisque mi tristique, semper arcu. Phasellus luctus ac nisl non commodo. Cras elementum at dolor in venenatis. Maecenas varius enim lorem. Maecenas nisi felis, pharetra sit amet justo sit varius gravida ipsum. Cras ac pulvinar dolor. Duis aliquam laoreet nisi nec lobortis. Pellentesque hendrerit egestas mi, in congue sem porttitor sed.
            </p>

            <h2>Nossas receitas</h2>
            <p>
                Etiam lobortis, tortor sit amet gravida luctus, ipsum ante pellentesque mi, et tincidunt purus neque ut lectus. Quisque sit amet libero nibh. Nulla a sem eros. Nam maximus, felis ac porttitor sagittis, lorem orci congue metus, nec porttitor dolor odio quis lectus. Suspendisse eros mauris, auctor et lobortis nec, hendrerit vel erat. Duis aliquam a ligula eu congue. Praesent nisi arcu, finibus eu velit quis, suscipit bibendum sapien. Sed sed nunc ut elit congue fringilla. Integer blandit massa vitae placerat aliquam. Nullam rutrum vehicula elit sed fermentum. In iaculis purus quis odio aliquam, sit amet iaculis nulla pharetra. Nulla mollis velit nec dolor gravida, nec lobortis erat tincidunt.
            </p>
        </div>

    </section>
{% endblock %}