<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Foodfy</title>
        {% endblock head %}
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="shortcut icon" href="assets/recipe.svg" type="image/x-icon">
        {% block style%}
        <link rel="stylesheet" href="/styles/style.css">
        {% endblock %}

    </head>
    <body>
        <header>
            <a href="/"><img src="/assets/logo.png" alt="logo"></a>
            <a href="/about-us" class="links-header">Sobre</a>
            <a href="/recipes" class="links-header">Receitas</a>
        </header>

        {% block content %}{% endblock content%}

        <footer>
            Todos direitos reservados, receitas Foodfy
        </footer>
        {% block scripts %}{% endblock scripts%}
    </body>
</html>