{% extends "layout.njk" %}

{% block head %}
    <title>Página Não Encontrada</title>
{% endblock %}

{% block content %}
    <div class="not-found">
        <img src="/assets/error404.png" alt="Página Não-Encontrada">
    </div>
{% endblock %}