{% extends "layout.njk" %}


{% block content %}
<section class="cards">
    {% for item in items %}
    <div class="card" id="{{item.forId}}">
        <div class="card-image">
            <img src="{{item.image}}" alt="{{item.title}}">
        </div>
        <div class="card-title">
            <h3>{{item.title}}</h3>
        </div>
        <div class="card-chef">
            <p>por {{item.author}}</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}
{% block scripts %}
<script src="/scripts.js"></script>
{% endblock scripts%}
